:root {
    --bg-primary:#0a0e27;
    --bg-secondary:#00d9ff;
    --shadow:#1a3a52;
    --text-button:#515151;
    --hover:#00b8d4;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-primary);
    color: #FFF; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HERO SECTION */

.header {
    position: sticky;
    background-color: var(--bg-primary);
    text-align: center;
    max-height: 130px;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header h1 {
    font-size: 2.5em;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav__list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    
}

.nav__list-items {
    margin: 5px 0;
    list-style: none;
    padding: 8px 25px;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    box-shadow: 0 0 6px 2px var(--shadow);
}

.nav__list-items a {
    color: var(--text-button);
    text-decoration: none;
}


/*--------ABOUT SECTION */


.about__section {
    box-sizing: border-box;
    max-height: 1400px;
    width: 100%;
    margin-top: 50px;
    
}

.about__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 1.1rem;
    text-wrap: balance;
}
.about-content p {
    text-wrap: balance;
}

/* CONTACT SECTION */

.contact__section {
    margin-top: 150px;
    width: 100%;
}

.contact__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.contact__list-items {
    padding: 15px;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    box-shadow: 0 0 6px 2px var(--shadow);
    cursor: pointer;
    border: 1px solid var(--bg-primary);
}

.contact__list-items:hover {
    background-color: var(--hover);
}

.contact__list-items a {
    text-decoration: none;
    color: var(--text-button);
}

/* PROJECT SECTION */

.projects__section h2 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding: 50px;
}


.projects__container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    min-width: 300px;
    max-width: 1300px;
}

.card__title {
    text-align: center;
}

.card__p {
    font-size: 1.1rem;
    text-align: center;
    text-wrap: balance;
}

.project__container-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid var(--bg-secondary);
    border-radius: 30px;
    box-shadow: 0px 0px 2px 1px var(--bg-secondary);
    transition: background-color 1s ease-in;
    
}

.project__container-card:hover {
    color: rgb(23, 30, 22);
    background-color:#03caf2b7;
    .btn{
        color: #fff;
        background-color: #ff006e;
    }
    .project__container-item {
        color: #fff;
        background-color: #ff006e;
    }
}

.project__container-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--text-button);
}

.project__container-item {
    border-radius: 8px;
    padding: 5px;
    list-style: none;
    background-color: var(--bg-secondary);
}

.project__container-links {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: auto;
    margin-bottom: 5px;
}

.btn {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #ff5a2d;
    text-decoration: none;
    max-width: 100px;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
}

.projects__img {
    display: block;
    margin: 0 auto;
    height: 600px;
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: top left;
    border-radius: 10px;
    background-size: 100%;
}

/* PROJECTS ENDS */

/*  ACADEMIC SECTION  */

.academic__section {
    width: 100%;
    background-color: var(--bg-primary);
}

.academic__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #fff;
}

.academic__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

.academic__card{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.2rem;
    border: 1px solid #ff006e;
    border-radius: 20px;
    text-align: center;
}

.academic__card:hover{
    color: rgb(23, 30, 22);
    background-color: var(--hover);
    box-shadow: 0 0 6px 2px var(--bg-secondary);
    border-color: transparent;
    transition: all .3s ease;
    .academic__card-title{
        border: 1px solid #ff006e;
        
    }
    transform: translateY(-10px);
}

.academic__card-institution {
    text-transform: uppercase;
}

.academic__card-date {
    font-size: .9rem;
    font-family: inherit;
}

.academic__card-title {
    display: block;
    padding: 8px;
    background-color: var(--bg-secondary);
    border-radius: 30px;
    width: 130px;
    margin: 10px auto;
    text-decoration: none;
    color: rgb(23, 30, 22);
}

/* ACADEMIC ENDS*/
/* SKILLS SECTIONS */
.skills__section {
    width: 100%;
    margin-bottom: 50px;
}

.skills__category {
    display: flex;
    text-align: center;
    margin: auto;
}

.skills__title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #fff;
}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 auto;
    max-width: 1200px;
    width: 80dvw;
    gap: 20px;
}

.skills__card {
    text-align: center;
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px #fff1;
    transition: background-color , transform .3s ease;
}

.skills__card:hover {
    background-color: #fff3;
    transform: scale(1.05);
    color:rgb(23, 23, 23);
    box-shadow: 0 0 5px 4px var(--hover);
}

.skills__card:hover p {
    text-decoration: underline;
    text-underline-offset: 4px;
}


.skills__icon {
    font-size: 5rem;
    margin-bottom: 1.1rem;
    color: var(--bg-secondary);
}

.skills__name {
    font-size: 1.1rem;
    font-weight: 600;
}

.skills__grid-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 40px auto;
    text-align: center;
}

/* SKILLS ENDS */

.section__divider {
    border: 1px solid #Fff;
    margin: 80px auto; 
    border-top: 1px solid #333333;
    width: 50%; 
    max-width: 600px;
}


.footer {
    background-color: #0d0d0d;
    color: #777;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}


@media screen and (max-width:510px) {
    .nav {
        display: none;
    }

    .contact__list {
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin: auto;
    }
}
@media screen and (max-width: 700px) {
    .projects__container {
        grid-template-columns: 1fr;
    }
}
